<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :number %>
  <%= f.input :mileage %>
</div>

<%= content_for :form_actions do %>
  <%= link_to_function t('label.close'), "$('#modal').modal('toggle');",
                       class: 'btn' %>
<% end %>
