<tr id="<%= dom_id(user) %>">
  <td><%= link_to user.name, user, title: t('label.show'), remote: true, data:
                  { target: 'modal', modal: true } %></td>
  <td><%= link_to user.lastname, user, title: t('label.show'), remote: true, data:
                  { target: 'modal', modal: true } %></td>
  <td><%= mail_to user.email, user.email, class: 'visible-desktop' %></td>
  <td><%= link_to_edit edit_user_path(user), remote: true, data: { target:
                       'modal', modal: true } if can? :update, user %></td>
  <td><%= link_to_destroy user, remote: true, data: { target: dom_id(user) } if
                          can? :destroy, user %></td>
</tr>
